<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} | My Restaurant</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/menu.css">
    <script src="{{ site.baseurl }}/assets/js/menu.js"></script>
  </head>
  <body>
    <header>
      <h1>{{ page.title }}</h1>
      <nav>
      </nav>
    </header>
    <main>
        <div id="menu" class="menu">
            
        </div>
        {{ content }}

    </main>
    <footer>
      &copy; {{ site.author }} {{ site.year }}
    </footer>
  </body>
</html>
