<!doctype html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/script.js"></script>
  </head>
  <body>
    {{ content }}
    <table id="data-table">
      <thead>
        <tr>
          <th>NF Service Operation</th>
          <th>Open5gs</th>
          <th>Free5gc</th>
          <th>OAI-CN5G</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </body>
</html>
